adal==1.2.7
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
cryptography==41.0.4
idna==3.4
msal==1.24.1
pycparser==2.21
PyJWT==2.8.0
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
urllib3==2.0.5
